body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    color: black;
}
h2
{
    text-shadow: 1ch;
    text-decoration-line: underline;
    text-align: left;    
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#container h2
{
    font-size: 18px;
}
p
{
    text-align: left;
    text-justify: auto;
    color: black;

}
